<li>{{dope.city}}'s {{dope.strain}} strain
    {{#if isImageShowing }}
       <p><img src={{dope.photo}} alt={{dope.thc}} {{action 'imageHide'}}></p>
     {{else}}
       <button {{action 'imageShow'}}>Show image</button>

    {{/if}}
    {{update-dope dope=dope update="update"}}
    <button {{action 'delete' dope}}>Delete</button>
    {{dope.text}}
    
</li>




<!--
<li>{{rental.owner}}'s {{rental.type}} in {{rental.city}}
  {{#if isImageShowing}}
    <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Image</button>
  {{/if}}
  <button {{action 'delete' rental}}>Delete</button>
</li> -->
