{{yield}}
{{#if updateDope}}
  <!--Update form here-->
  <form>
    <div class="form-group">
      <label for="strain"></label>
      {{input value=strain id="strain" placeholder=dope.strain}}
    </div>

    <div class="form-group">
      <label for="thc"></label>
      {{input value=thc id="thc" placeholder=dope.thc}}
    </div>

    <div class="form-group">
      <label for="type"></label>
      {{input value=type id="type" placeholder=dope.owner}}
    </div>

    <div class="form-group">
      <label for="city"></label>
      {{input value=city id="city" placeholder=dope.city}}
    </div>

    <div class="form-group">
      <label for="photo"></label>
      {{input value=photo id="photo" placeholder=dope.photo}}
    </div>

  <button {{action 'update' dope}}>Update</button>

  </form>
{{else}}
  <button {{action 'showUpdateForm'}}>Update</button>
{{/if}}
